
{% extends 'base.html' %}


{% block title %} Home {% endblock title %}


{% block content %}

<h1>Task Manager</h1>

{% for task in tasks %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                {% if task.is_urgen == "on" %}
                    <i class="material-icons tooltipped" data-position="right" data-tooltip="URGENT">access_alarm</i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.cartegory_name }}</strong>
                <p>{{ task.task_description}}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
    </ul>
{% endfor %}


{% endblock %}